.intro-area {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.intro p{
    margin-bottom: 0;
}

.intro h1{
    font-size: 50px;
    font-weight: 800;
}

.intro h3 {
    font-size: 22px;
    color: var(--blue-color)
}

@media only screen and (max-width: 767px){
    .intro h1{
        font-size: 37px;
        font-weight: 800;
    }
    
}