.header {
    position: fixed;
    width: 100%;
    z-index: 9;
    transition: top 0.3s;
    top: 0;
    height: 70px;
}

.stickyNav{
    background: var(--theme-light-color);
    box-shadow: 0 0 35px rgba(0, 0, 0, .1);
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;   
}

.logo {
    font-size: 30px;
    font-weight: 800;
    cursor: pointer;
}

.mobile-menu{
    display: none;
}

.mobile-menu svg{
    font-size: 30px;
}

@media only screen and (max-width: 767px){
    .mobile-menu{
        display: block;
        order: 2;
        cursor: pointer;
        padding: 5px;
    }
}

.menu ul > li {
    display: inline-block;
    cursor: pointer;
}

.menu ul > li > a {
    padding: 5px 15px;
    font-weight: 600;
}

@media only screen and (max-width: 767px){
    .menu{
        margin-top: 70px;
        position: absolute;
        top: 0;
        background: var(--theme-light-color);
        width: 100%;
        text-align: center;
        display: none;
        transition: ease .3s;
        z-index: 99;
    }
    .menu ul > li {
        display: block;
    }
    
}

@media only screen and (min-width: 768px) and (max-width: 991px){
    .menu ul > li > a {
        padding: 5px 10px;
    }    
}