.title{
    font-size: 40px;
    padding: 10px;
    display: block;
    margin: 20px 0;
    text-align: center;
    font-weight: 600;
    position: relative;
    padding: 0 0 20px;
}

.title::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 50px;
    height: 5px;
    background: var(--white-color);
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.title::after{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 150px;
    height: 5px;
    background: #ffffff50;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.about-left .title::before{
    left: 0;
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    -o-transform: translate(0%, 0);
}

.about-left .title::after{
    left: 0;
    transform: translate(0%, 0);
    -webkit-transform: translate(0%, 0);
    -moz-transform: translate(0%, 0);
    -ms-transform: translate(0%, 0);
    -o-transform: translate(0%, 0);
}

/* @media only screen and (max-width: 767px) */
@media only screen and ( min-width: 768px ) and (max-width: 991px){
    .contact-area .title{
        text-align: left;
    }
    .contact-area .title::before{
        left: 0;
        transform: translate(0%, 0);
        -webkit-transform: translate(0%, 0);
        -moz-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
    }
    
    .contact-area .title::after{
        left: 0;
        transform: translate(0%, 0);
        -webkit-transform: translate(0%, 0);
        -moz-transform: translate(0%, 0);
        -ms-transform: translate(0%, 0);
        -o-transform: translate(0%, 0);
    }
}